# --- Unity 核心排除項目 ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.utmp/

# --- 檔案過濾 ---
*.log
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# --- 記憶體與錄影 ---
/[Mm]emoryCaptures/
/[Rr]ecordings/

# --- 編輯器相關 ---
.vs/
.gradle/
ExportedObj/
.consulo/
/[Aa]ssets/Plugins/Editor/JetBrains*

# --- 輸出檔案 ---
*.apk
*.aab
*.unitypackage
*.app